{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":4,"column":29},"end":{"row":5,"column":0},"action":"insert","lines":["",""],"id":45}],[{"start":{"row":5,"column":0},"end":{"row":5,"column":22},"action":"insert","lines":["django-storages==1.6.6"],"id":46}],[{"start":{"row":5,"column":22},"end":{"row":5,"column":23},"action":"insert","lines":["x"],"id":47}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":23},"end":{"row":5,"column":23},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1564147866076,"hash":"bd9e031e5741613b71f74f63965d121fcbe6ccdd"}